
* {
        margin: 0;
        padding: 0;
        border: 0;
    }

header {
	border-bottom: 60px solid #c49a6c;
	padding: 3em;
	margin-bottom: 20px;
}

body {
	background-color: blanchedalmond;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	max-width: 1140px;
	padding-bottom: 0px;
}

nav {
	margin-right: auto;
	padding: 0 20px;
}

a.link {
	float: right;
	text-decoration: none;
	color: #3bc4e3;
	font-size: 1.2rem;
	margin-left: 74px;
	font-weight: bold;
	letter-spacing: 1px;
	transition: all 0.3s ease-in-out;
}

header,
nav {
	padding: 0 20px;
	background-color: #594a42;
}

.park {
	color: #3bc4e3;
	font-weight: bold;
	font-size: 3.2rem;
	text-decoration: none;
}

.headertwo {
	display: block;
}

.jumbotron {
	padding: 4rem 2rem;
	margin-bottom: 2rem;
	background-color: #e9ecef;
	border-radius: 0.3rem;
}

.jumbotron h1 {
	font-size: 2rem;
	font-weight: 300;
}

.castimage {
	width: 100%;
	height: 50%;
	align-items: center;
}
h1 {
	font-size: 40px;
	color: #3bc4e3;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	border-bottom-color: black;
	align-items: center;
}

h2 {
	font-size: 40px;
	color: rgb(0, 33, 165);
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	border-bottom-color: black;
	float: left;
}

p:nth-child(2):first-letter {
	float: left;
	color: hotpink;
	padding: 0 0.3rem;
	margin: 0 0.3rem 0 0;
	border: 2px solid;
	border-radius: 8px;
	font-size: 6rem;
	line-height: 1;
}

.columns {
    float: left;
    width: 25%;
    padding: 5px;
	font-family: "Source Sans Pro";
	color: green;
	line-height: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: justify;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.container .columns h4 {
	text-align: center;
	color: #01b2d1;
}

h4 {
	text-align: center;
}

.row {
	width: 100%;
	margin-right: 0px;
	margin-bottom: 12px;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: inline-block;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

.thumbnail {
    display: flex;
    flex-flow: column;
	width: 150px;
	border-radius: 150px;
	height: 150px;
	margin: auto;
	padding: 0 40px;
}



.text {
	text-align: center;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
footer {
	font-size: 40px;
	text-align: center;
	color: #3bc4e3;
	text-decoration: none;
	width: 100%;
	padding-bottom: 10px;
	background-color: #c49a6c;
	clear: both;
}
