/* these impact the doc on a root level */
:root {
	--black: #232323;
	--text-color-white: #ffffff;
	--heading-color: #3fb549;
	--footer-bg-color: #2b7138;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html {
	background-color: var(--black);
	color: var(--text-color-white);
	font-family: "Franklin Gothic Medium", sans-serif, system-ui;
	line-height: 1.5em;
	scroll-behavior: smooth;
}

/* header-nav bar edits flexbox setup */
header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: auto 0;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 20px 80px;
	background-color: white;
	position: sticky;
	top: 0;
	z-index: 1;
}

.logo__img,
.logo__link {
	width: 250px;
	margin-right: auto;
}

/* This is the area for HTML padding width and margin */

a.link {
	float: right;
	text-decoration: none;
	color: var(#3fb549);
	font-size: 1.2rem;
	margin-left: 74px;
	font-weight: bold;
	letter-spacing: 1px;
}

/* Start cast page-William */
.cast_img {
	padding-top: px;
	width: 10%;
}

.cast__h__one {
	color: var(--heading-color);
	text-align: center;
}

.cast__htwo {
	color: var(--heading-color);
	text-align: center;
	padding-top: 10px;
}

.cast__hero {
	width: 95%;
	display: block;
	word-spacing: 2px;
	word-wrap: break-word;
	padding: 20px 10px 15px;
}

.cast__ptwo {
	padding: 15px 0 10px;
}

.cast__container {
	display: block;
	flex-direction: column;
	min-height: 100vh;
	background-color: black;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	color: var(--text-color-white);
	margin: 0px 0 10px 0;
	padding: 0 0 10px;
}

.cast__row {
	display: flex;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0px 100px 0 0;
	width: 95%;
	object-fit: cover;
}

.thumbnail_align {
	text-align: center;
	max-width: 100%;
	height: auto;
}

.cast__columns {
	width: 25%;
	line-height: 24px;
	padding: 10px 10px 10px 0;
	margin: 0 auto;
}

.cast__columns p {
	padding: 0 80px 10px 80px;
}

.thumbnail {
	width: 350px;
	height: 350px;
	margin-left: auto;
	object-fit: cover;
}

span.tooltip {
	color: var(--danger-color);
	position: relative;
	cursor: pointer;
	display: inline;
}

span.tooltip:hover,
span.tooltip:focus {
	text-decoration: overline;
	cursor: grabbing;
}

span.tooltip:hover > span,
span.tooltip:focus > span {
	display: inline;
	visibility: visible;
	color: #fbee23;
}

span.tooltip span {
	bottom: 150%;
	left: 50%;
	margin-left: -60px;
	position: relative;
	visibility: hidden;
	width: 400px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	border: 2px solid #3bc4e3;
	padding: 15px 15px;
	position: absolute;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	display: none;
}

span.tooltip span::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	border-width: 5px;
	border-style: solid;
	border-color: #fbee23 transparent transparent transparent;
}

/* End cast page - William */

/* This will be the area for nav text styling */

/* nav links font styling */
.nav__links {
	font-weight: 300;
	font-size: 1.3em;
	text-decoration: 0;
	color: var(--black);
	padding-left: -40px;
	padding-left: 1em;
}

.nav__links:hover {
	border-bottom: 2px solid rgb(0, 0, 0);
}

.logo__link {
	animation: slide-in 1000ms;
}

@keyframes slide-in {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translatex(0%)
	}
}

/* This will be hero image edits */

.hero__img {
	background-image: url("/assets/photos/hq_photos/parksandrecoffice.jpg");
	background-size: cover;
	-webkit-background-size: cover;
	background-attachment: fixed;
	background-position: 40%;
	text-align: center;
	min-width: 10em;
	min-height: 600px;
}

/* html text styling, spacing, height, etc */
.block__element {
	margin: 140px;
	padding-bottom: 500px;
}

.finest__section,
.wiki__section,
.themes-section {
	margin-left: 20px;
	line-height: 2em;
}

/* adjusts the padding of the two headers on the home page */
.finest__header,
.wiki__header,
.themes__header {
	color: var(--heading-color);
	margin-left: auto;
	padding-top: 2em;
	padding-bottom: 20px;
	border-bottom: 2px solid #fbee23;
}

.themes-flex-container {
	display: flex;
	flex-direction: column;
	max-width: 800px;
	margin: 10px auto;
	background-color: var(--black);
}

.themes-section {
	color: var(--heading-color);
	padding-top: 2em;
	padding-bottom: 20px;
	border-bottom: 2px solid #fbee23;
	text-align: left;
}

.themes-section > h1,
h2 {
	margin-left: 20px;
	line-height: 2em;
}

.finest__section > p {
	padding-top: 2em;
	padding-bottom: 2em;
}

.wiki-text-containter {
	max-width: 0 auto;
	width: 800px;
	float: right;
	clear: both;
}

.wiki-text {
	padding-top: 2em;
	padding-bottom: 2em;
	position: relative;
	z-index: -1;
}

video {
	/* display: inline; */
	position: relative;
	top: 200px;
	right: -5px;
	z-index: -1;
}

.tflex-container {
	display: flex;
	flex-direction: column;
	max-width: 800px;
	margin: 10px auto;
	background-color: var(--black);
}

.award > img {
	float: left;
	padding-right: 20px;
	padding-bottom: 30px;
}

.award_description {
	text-align: left;
	color: var(--text-color-white);
	font-family: "Franklin Gothic Medium", sans-serif, system-ui;
	line-height: 1.5em;
}

.awardname {
	padding-top: 10x;
	text-align: left;
	margin-bottom: 5px;
	margin-left: auto;
	color: var(--heading-color);
	font-family: "Franklin Gothic Medium", sans-serif, system-ui;
}

.awardhero {
	margin: auto;
	max-width: 800px;
	background-color: var(--black);
	border-bottom: 2px solid #fbee23;
	padding: 20px 0px;
	margin-bottom: 20px;
}

.awardhero > h1 {
	color: var(--heading-color);
	font-family: "Franklin Gothic Medium", sans-serif, system-ui;
}

.themes-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: auto 0;
}

.themes-section > p {
	color: var(--text-color-white);
}

.themes-section > img {
	margin: auto;
	display: block;
	padding: 30px;
	height: 300px;
	width: 90%;
}

/* footers edits */
footer {
	width: auto;
	height: 100px;
	background-color: var(--footer-bg-color);
	border-top: 4px solid #ffffff;
	position: sticky;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}

footer > p {
	text-align: center;
	padding-top: 40px;
}

/* media query for mobile responsiveness */

/* Small devices (phones, up to 480px) */
@media only screen and (max-width: 480px) {
	.block {
		/* styles for .block on small devices */
	}

	.block__element {
		/* styles for .block__element on small devices */
	}
}

/* Medium devices (tablets, 481px and up to 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
	.block {
		/* styles for .block on medium devices */
	}

	.block__element {
		/* styles for .block__element on medium devices */
	}
}

/* Large devices (desktops, 769px and up to 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.block {
		/* styles for .block on large devices */
	}

	.block__element {
		/* styles for .block__element on large devices */
	}
}

/* Extra large devices (large desktops, 1025px and up) */
@media only screen and (min-width: 1025px) {
	.block {
		/* styles for .block on extra large devices */
	}

	.block__element {
		/* styles for .block__element on extra large devices */
	}
}

/* Start cast page media query - William */
@media only screen and (max-width: 500px) {
	.cast__row {
		word-wrap: break-word;
		max-width: 100%;
		display: contents;
	}

	.cast__hero {
		max-width: 300px;
	}

	.cast__columns p {
		text-align: center;
		padding: 1px;
	}

	.cast__columns {
		display: flex;
		flex-direction: column;
		width: 60%;
	}

	.thumbnail {
		float: none;
		width: 90%;
		height: 100%;
		display: block;
		margin: auto;
	}
}

@media only screen and (min-width: 401px) (max-width: 768px) {
	
	.cast__row {
		word-wrap: break-word;
		max-width: 100%;
		display: contents;
	}

	.cast__columns {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.cast__columns p {
		text-align: center;
		min-width: 00px;
		padding: 10px;
	}
	.thumbnail {
		float: none;
		max-width: 200px;
		display: block;
	}
}
@media only screen and (min-width: 750px) and (max-width: 1024px) {
	.cast__row {
		display: flex;
		flex-direction: row;
	}
	.cast__columns p {
		text-align: center;
		min-width: 100px;
		padding: 10px;
	}

	.thumbnail {
		float: none;
		max-width: 200px;
		display: block;
	}


}

/* End cast page media query - William */
