:root {
	--black: #232323;
	--text-color-white: #FFFFFF;
	--heading-color: #3fb549;
	--footer-bg-color: #2b7138;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html {
	background-color: var(--black);
	color: var(--text-color-white);
	font-family: 'Franklin Gothic Medium', sans-serif, system-ui;
	line-height: 1.5em;
	scroll-behavior: smooth;
}

header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: auto 0;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 20px 80px;
	background-color: white;
	position: sticky;
	top: 0;
}

.logo__img,
.logo__link {
	width: 250px;
	margin-right: auto;
}

.nav__links {
	font-weight: 300;
	font-size: 1.3em;
	text-decoration: 0;
	color: var(--black);
	padding-left: -40px;
	padding-left: 1em;
}

.nav__links:hover {
	border-bottom: 2px solid rgb(0, 0, 0);
}

a {
	text-decoration: none;
}


h1, h2 {
	color: #2b7138;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding: 10px;
	text-align: left;
}

h1 {
	font-size: 2em;
	line-height: 2em;
}


.themes-section {
    margin: auto;
    display: flex;
	flex-direction: column;
	justify-content: center;
	width: 800px;
}

.themes-section > img {
    margin: auto;
    display: block;
    padding: 30px;
	height: 300px;
	width: 90%;
}

footer {
	width: auto;
	height: 100px;
	background-color: var(--footer-bg-color);
	border-top: 4px solid #FFFFFF;
	position: sticky;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}

footer>p {
	text-align: center;
	padding-top: 40px;
}

@media only screen and (max-width: 480px) {
	.block {
	}

	.block__element {
	}
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
	.block {
	}

	.block__element {
	}
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.block {
	}

	.block__element {
	}
}

@media only screen and (min-width: 1025px) {
	.block {
	}

	.block__element {
	}
}